<div class="body-container">
  <div class="container-main">
    <h1>Todo list</h1>
  <div class="new-todo">
    <input type="text" placeholder="Create new todo" id="new-todo-input" #newTodo (keyup.enter)="addNewTodo(newTodo.value)">
    <button type="button" class="btn btn-secondary" (click)="addNewTodo(newTodo.value)">+</button>
  </div>

  <div class="button-info-container">
    <div class="title-info">
      <span>title</span>
    </div>
    <div class="button-info">
      <span>done</span>
      <span>delete</span>
    </div>

  </div>

  <div class="container-active">
    <div class="todo-active" *ngFor="let todo of todos">
      <app-todo-item *ngIf="!todo.complete" [todo]="todo" (remove)="removeTodo(todo)"></app-todo-item>
    </div>
    <button type="button" class="btn btn-light" (click)="sortTodos()">Sort</button>
  </div>

  <h1>Completed Todos</h1>

  <div class="container-complete">
    <div class="todo-complete" *ngFor="let todo of todos">
      <app-todo-item *ngIf="todo.complete" [todo]="todo" (remove)="removeTodo(todo)"></app-todo-item>
    </div>
  </div>
  </div>
</div>


