.body-container{
  display: flex;
  justify-content: center;

 .container-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;

    h1 {
      text-align: center;
      width: 100%;
      font-size: 3.5rem;
    }

    .new-todo {
      display: flex;
      justify-content: center;
      width: 90%;

      input {
        width: 40%;
        height: 30px;
        margin-right: 8px;
        font-size: larger;
      }
      button {
        height: 30px;
        padding: 0 20px;
      }
    }

    .button-info-container {
      width: 90%;
      padding: 10px 20px 0 20px;
      display: flex;
      justify-content: space-between;
      font-size: larger;

      .button-info {
        span {
          margin: 0 8px 0 20px;
        }

      }
    }

    .container-active {
      padding: 5px;
      width: 90%;
      min-height: 200px;

      .info-text {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      button {
        font-size: larger;
      }
    }

    .container-complete {
      padding: 5px;
      width: 90%;
    }
  }
}
